DJANGO_SECRET_KEY=replace-me
DJANGO_SETTINGS_MODULE=sifter_web.settings_prod
ALLOWED_HOSTS=sifter.berkeley.edu,testserver,localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=https://sifter.berkeley.edu
SIFTER_TRUSTED_PROXY_IPS=127.0.0.1,::1
SESSION_COOKIE_SECURE=true
CSRF_COOKIE_SECURE=true
SECURE_PROXY_SSL_HEADER_NAME=HTTP_X_FORWARDED_PROTO
SECURE_PROXY_SSL_HEADER_VALUE=https
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=false
SECURE_HSTS_PRELOAD=false
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/1
SIFTER_DB_DIR=/data/sifter/my_dbs
SIFTER_INPUT_DIR=/data/sifter/input
SIFTER_OUTPUT_DIR=/data/sifter/output
STATIC_ROOT=/data/sifter/static
MEDIA_ROOT=/data/sifter/media
SIFTER_ENABLE_SOLR_SEARCH=true
SIFTER_SOLR_URL=http://127.0.0.1:8983/solr/sifter
SIFTER_BLAST_EXPECT=1e-2
SIFTER_BLAST_HITLIST_SIZE=100
SIFTER_BLAST_MAX_RETRIES=600
SIFTER_BLAST_RETRY_SLEEP=60
