DJANGO_SECRET_KEY=replace-me
DJANGO_SETTINGS_MODULE=sifter_web.settings_prod
ALLOWED_HOSTS=sifter.berkeley.edu
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/1
SIFTER_DATA_DIR=/srv/sifter/data
SIFTER_DB_DIR=/srv/sifter/data/my_dbs
SIFTER_INPUT_DIR=/srv/sifter/data/input
SIFTER_OUTPUT_DIR=/srv/sifter/data/output
SIFTER_ENABLE_SOLR_SEARCH=true
SIFTER_SOLR_URL=http://127.0.0.1:8983/solr
SIFTER_BLAST_EXPECT=1e-2
SIFTER_BLAST_HITLIST_SIZE=100
SIFTER_BLAST_MAX_RETRIES=600
SIFTER_BLAST_RETRY_SLEEP=60
