<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Estimated SIFTER processing time</title>
	<style>
		body {
			font-size: 24px;
		}

		button {
			font-size: 18px;
		}

		input {
			font-size: 20px;
		}

		table, td, th {
			text-align: center;
			border: 1px solid black;
			border-collapse: collapse;
			padding: 5px;
		}
	</style>
</head>
<body>

<h3 id="title">Estimated SIFTER processing time</h3>

<form method="post">
	{% csrf_token %}
	{{ form }}
	<input type="submit" value="Submit" />
</form>

<p>{{ response }}</p>

<table>
	<tr>
	{% for cell in tableHeader %}
		<th>{{ cell }}</th>
	{% endfor %}
	</tr>
	{% for row in tableBody %}
		<tr>
		{% for cell in row %}
			<td>{{ cell }}</td>
		{% endfor %}
		</tr>
	{% endfor %}
</table>

<script>
    /* Returns the minimum value in the numeric array ARR */
    function get_min(arr) {
        var i;
        var min = Number.MAX_VALUE;
        for (i = 0; i < arr.length; i++) {
            max = Math.min(arr[i], min);
        }
        return min;
    }

    /* Returns the maximum value in the numeric array ARR */
    function get_max(arr) {
        var i;
        var max = Number.MIN_VALUE;
        for (i = 0; i < arr.length; i++) {
            max = Math.max(arr[i], max);
        }
        return max;
    }

    /* Plots the estimated time histogram for truncation factor MAXFUN. */
    function plot_hist() {
		var xs = [1, 5, 3, 4, 6]
		var ys = [2, 7, 4, 1, 3]
		var cs = ['red', 'blue', 'yellow', 'orange', 'green']

        var xlimits = [get_min(xs), get_max(xs)];
        var ylimits = [get_min(ys), get_max(ys)];

        var histColor = "#91bfdb"; /* light blue */
        var placeholder = $("#placeholder");

        var plot = $.plot(placeholder, [{
            color: histColor,
            data: histBars
        }], {
            bars: {
                show: true,
                barWidth: width,
                fillColor: histColor},
            xaxis: {
                show: true,
                tickColor: "#000000",
                min: xlimits[0],
                max: xlimits[1],
                tickLength: 5},
            yaxis: {
                show: true,
                min: ylimits[0],
                max: ylimits[1],
                ticks: []},
            grid: {
                show: true,
                margin: {right: 400},
                borderWidth: {"top": 0, "right": 0, "bottom": 1, "left": 1}}
        });

        plot.setupGrid();
        plot.draw();

    }
</script>

</body>
</html>