/* Move down content because we have a fixed navbar that is 50px tall */
.sample {
    text-align: right;  
}

#wSlider .slider-selection {
	background: #5bc0de;
}

#wSlider .slider-track {
	background: #f0ad4e;
}

#wSlider .slider-handle {
	background: #555;
}

.slider.slider-horizontal {
  width: 100%;
  height: 20px;
}

.W_Exp{
    color: #5bc0de;
    display:inline-block;
    margin-bottom:5px;
}

.W_NExp{
    color: #f0ad4e;
    display:inline-block;
    margin-bottom:5px;
}


fieldset {
	margin-top: 1em;
	margin-bottom: 1em;
	padding-bottom: 1.2em;
	padding-right: 1em;
	padding-left: 1em;
 	padding-top: 0.8em;
/*   	margin-left: 4em;
	margin-right: 6em;
*/	margin-top: 1.2em;
	margin-bottom: 1.2em;

	/*background-color: #F4F7FC;*/
	background-color: #f6f6f6;
	webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
fieldset h3{
    margin-bottom: 0.0em;
    margin-top: 0.0em;
    padding-bottom: .1em;
}
.custom-container p{
    padding-left: 4em;
}

.container {
    width: 97%;
}


.navbar-inverse {
  background-color: #003262; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  border-bottom-color: #e7c254;
  border-bottom-width: 8px;
}

.navbar-inverse .navbar-brand {        
    color: #ffffff;
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.active>a:focus{
  color:#e7c254;
  background-color:#2d6ca2;
  background-image: none;
  box-shadow: none;
  
}

.navbar-inverse .navbar-nav>li>a{
    color:#ffffff
}
.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus{
    color:#e7c254;
    background-color:transparent
}

.jumbotron {
/*    background-color:#D3D5D6;*/
    padding-bottom: 2px;
    padding-top: 13px;	
    margin-bottom: 10px;
}

body {
  padding-top: 40px;
}


.jumbotron p {
font-size: 16px;
color: #000;
}



.panel-wb {
	background-color: #f6f6f6;
}


.alert-danger {
    padding: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 4em;
    margin-right: 6em;
    margin-top: 1.2em;
    margin-bottom: 1.2em;   
}

.query-info {
    margin-left: 1em;
    margin-right: 1em;
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: #e7c254;;
}

.query-info h2{
    color:#003262;
}
.query-info h3{
    color:#003262;
}

.search-info {
    margin-left: 1em;
    margin-right: 1em;
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: #e7c254;;
}
.search-info h3{
    margin-top: .2em;
    margin-bottom: .2em;	
}


.endpage{
    margin-top: 1em;
    padding: .4em;
}
.my_sidebar{
   font-size: 16px;
}

.my_sidebar .nav-header{
   border-bottom: solid; 
   border-bottom-color: #e7c254;
   color:#003262;
   font-size: 20px;
   margin-top: 10px;
}

.nav-pills > li.active > a, .nav-pills>li.active > a:hover {
    background-color: #4e93ce;
}

tr.row_seperator td {
  background-color: #aaa;
  color: #fff;
}

tr.row_seperator td >a {
  color: #fff;
}



.hidden {
    display: none;
}


.highlighted {
    background-color: yellow;
}
