/* Move down content because we have a fixed navbar that is 50px tall */
.sample {
    text-align: right;  
}

#wSlider .slider-selection {
	background: #5bc0de;
}

#wSlider .slider-track {
	background: #f0ad4e;
}

#wSlider .slider-handle {
	background: #555;
}

.slider.slider-horizontal {
  width: 100%;
  height: 20px;
}

.W_Exp{
    color: #5bc0de;
    display:inline-block;
    margin-bottom:5px;
}

.W_NExp{
    color: #f0ad4e;
    display:inline-block;
    margin-bottom:5px;
}


fieldset {
	margin-top: 1em;
	margin-bottom: 1em;
	padding-bottom: 1.2em;
	padding-right: 0.8em;
	padding-left: 6em;
 	padding-top: 0.8em;
   	margin-left: 4em;
	margin-right: 6em;
	margin-top: 1.2em;
	margin-bottom: 1.2em;

	/*background-color: #F4F7FC;*/
	background-color: #f6f6f6;
	webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
fieldset h3{
    margin-bottom: 0.0em;
    margin-top: 0.0em;
    padding-bottom: .1em;
}
.custom-container p{
    padding-left: 4em;
}

.navbar-inverse {
  background-color: #003262; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  border-bottom-color: #e7c254;
  border-bottom-width: 8px;
}

.navbar-inverse .navbar-brand {        
    color: #ffffff;
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.active>a:focus{
  color:#e7c254;
  background-color:#2d6ca2;
  background-image: none;
  box-shadow: none;
  
}

.navbar-inverse .navbar-nav>li>a{
    color:#ffffff
}
.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus{
    color:#e7c254;
    background-color:transparent
}

.jumbotron {
    background-color:#D3D5D6;
    padding-bottom: 10px;
    padding-top: 15px;
    
}

body {
  padding-top: 40px;
}

.jumbotron p {
font-size: 16px;
}



.alert-danger {
    padding: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 4em;
    margin-right: 6em;
    margin-top: 1.2em;
    margin-bottom: 1.2em;   
}

.query-info {
    font-size: 16px;
    padding: 5px;
    margin-left: 2em;
    margin-right: 2em;
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: #ddd;
}


/**/
/*.alert-info {*/
/*    background-image: linear-gradient(to bottom,#e9f5fa 0,#d9edf7 100%);*/
/*    margin-top: -10px;*/
/*    border-top-width: 0px;*/
/*    border-top-left-radius: 0px;*/
/*    border-top-right-radius: 0px;*/
/**/
/*}*/
/**/
/*.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{*/
/*    background-image: linear-gradient(to bottom,#f9fcfe 0,#e9f5fa 100%);*/
/*    border-top-color: #9acfea;*/
/*    border-right-color: #9acfea;*/
/*    border-left-color: #9acfea;*/
/*    border-bottom-color: #e9f5fa;*/
/*    color: #31708f;*/
/*}*/
/**/
/*.nav-tabs{*/
/*    border-color: #9acfea;*/
/*}*/
/**/



.bs-callout {
    padding: 10px;
    margin: 15x 0;
    border: 1px solid #ddd;
    border-left-width: 10px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
    background-color: #efefef;   
    webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
