<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Search</title>
    <style>
        .hidden {
            display: none;
        }
    </style>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    {% include 'autocomplete_light/static.html' %}
</head>
<body>
    <input id="yourInput" style="width:200px;" type="text">
    <button id="button">Search</button>
    {% for taxid in taxids %}
        <a class="choice hidden">{{ taxid.tax_name }} (TaxID: {{ taxid.tax_id }})</a>
<!--         <a class="choice hidden">{{ taxid.tax_name }}</a> -->
    {% endfor %}
    
    {% for sifter_result in sifter_results %}
<!--         <a class="choice hidden">{{ sifter_result.uniprot_id }} (Pfam: {{ sifter_result.pfam }})</a> 
        <a class="choice hidden">{{ sifter_result.uniprot_id }}</a>-->
    {% endfor %}

    <p id="result"></p>

	{{form.bbb}}
    
    <script>
	
        var autocomplete = $("#yourInput").yourlabsAutocomplete({

            url: '{% url "navigationAutocomplete" %}',
			minimumCharacters: 1,
			placeholder: 'Type your search here ...',
			
        });
        $("#yourInput").yourlabsAutocomplete({

            url: '{% url "navigationAutocomplete" %}',
            choiceSelector: "a",
        }).input.bind("selectChoice", function(e, choice, autocomplete) {
            var query = choice.html().split(" (")[0];
            $("#yourInput").val(query);
            $("button#button").click(function() {
                //window.location.href = query;
            });
        });
    </script>
</body>
</html>
