<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>SIFTER Protein Function Prediction</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/theme.css" rel="stylesheet">

    <!-- Custom SIFTER CSS -->
    <link href="/static/css/bootstrap-slider.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/static/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      <script src="/static/js/custom.js"></script>    
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-58852027-1', 'auto');
	  ga('send', 'pageview');
	
	</script>
  </head>

  
  <body role="document">
    {% include 'navbar.html' %}
      <div id="slider-1"></div>
    
    <div class="container theme-showcase " role="main">

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="row">
		  <div class="col-md-12">
			<h2>Phylogeny-based Protein Function Prediction</h2>
		  </div>
		  <div class="col-lg-11 col-md-10 col-sm-10 col xs-9">
			<p><b>SIFTER</b> (<b>S</b>tatistical <b>I</b>nference of <b>F</b>unction <b>T</b>hrough <b>E</b>volutionary <b>R</b>elationships) is a statistical approach to predicting protein function that uses a protein family's phylogenetic tree, as the natural structure for representing protein relationships.</p>
		  </div>
		  <div class="col-lg-1 col-md-2 col-sm-2 col xs-3">
			<p><a class="btn btn-primary" role="button" href="/about/">Learn more &raquo;</a></p>
		  </div>
		</div>
	</div>
  
      
    {% block get_input %}
    {% endblock %}
    
      <hr>

      <footer>
        <!--<p>&copy; Company 2014</p>-->
      </footer>
    </div> <!-- /container -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

    <!-- Placed at the end of the document so the pages load faster -->
    <script type='text/javascript' src="/static/js/bootstrap-slider.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/highcharts.js"></script>
    <script src="/static/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
	





    <script type="text/javascript">
      
      $('#reset').click(function() { 
		reset_forms();
      });

      $('#reset_home_search').click(function() { 
		reset_forms();
		   window.location.replace( '/');
		});


      $('#clear_text_any').click(function() { 
	      $("#input_any").val("");
      });

      $('#clear_text').click(function() { 
	      $("#input_queries").val("");
      });
      $('#clear_text_species').click(function() { 
	      $("#input_species").val("");
      });
      $('#clear_text_function').click(function() { 
	      $("#input_function").val("");
      });
      $('#clear_text_function_sp').click(function() { 
	      $("#input_function_sp").val("");
      });
      $('#clear_text_sequence').click(function() { 
	      $("#input_sequence").val("");
      });

      $(document).ready(function(){

		$( "#wSlider2" ).slider({
		   value:$("#ExpWeight_hidden").val()*100,
		   min:0,
		   max:100,
		   slide: function( event, ui ) {		   
			  fix_weight(parseFloat(ui.value/100).toFixed(2));
		}	
		});
		$("#ssss").text($("#active_tab_hidden").val());	      
		my_tab=$("#active_tab_hidden").val()
        $('#mytab a[href="#' + my_tab + '"]').tab('show');
		if ($("#active_tab_hidden").val()=="by_any"){
			$('.hideable-options0').hide();
			$('.hideable-options02').show();		
		}else{
			$('.hideable-options0').show();
			$('.hideable-options02').hide();		
		}	      

		if ($("#function_selected_hidden").val()==""){
			$('.hideable-options-f0').show();
			$('.hideable-options-f1').hide();
		}else{
			$('.hideable-options-f0').hide();
			$('.hideable-options-f1').show();
		}	      
		if ($("#spf_selected_hidden").val()==""){
			$('.hideable-options-sf0').show();
			$('.hideable-options-sf1').hide();
		}else{
			$('.hideable-options-sf0').hide();
			$('.hideable-options-sf1').show();
		}	      
		if ($("#sp_selected_hidden").val()==""){
			$('.hideable-options-s0').show();
			$('.hideable-options-s1').hide();
		}else{
			$('.hideable-options-s0').hide();
			$('.hideable-options-s1').show();
		}	      

		if ($("#error_sp_hidden").val()==""){
			$('.hideable-options-esp').hide();
		}else{
			$('.hideable-options-esp').show();
		}	      

		
		$('.navbar li.active').removeClass('active');
		var url = window.location;
		// Will only work if string in href matches with location
		$('ul.nav a[href="'+ url +'"]').parent().addClass('active');

		// Will also work for relative and absolute hrefs
		$('ul.nav a').filter(function() {
			return this.href == url;
		}).parent().addClass('active');

	
	
	fix_weight($("#ExpWeight_hidden").val())
    
/*	$('#weight').slider({
		formatter: function(value) {
		return 'Current value: ' + value;
		}
	});
	
	$("#weight").on("slideStart", function(slideEvt) {
	  	fix_weight(slideEvt.value)
	});
	$("#weight").on("slide", function(slideEvt) {
	  	fix_weight(slideEvt.value)			
	});*/
	
	$('#toggleOptions').click(function() {
			$('.hideable-options').toggle( function() {
				var status = $(this).is(':visible'); 
				var label =  status ? 'Hide advanced options' : 'Show advanced options';
				$('#toggleOptions').text(label);
				if ($("#more_options_hidden").val()=='True'){
				  $("#more_options_hidden").val('False');
				}else{
				  $("#more_options_hidden").val('True');				  
				}
				
				
			});
	});
	
	
	
	$('.nav-stacked > li > a').click(function(event){
	  var id = $(event.target).attr("href").substr(1);
	  if (id=='by_any'){
		   window.location.replace( '/');
		   return;
	  }
	  $("#active_tab_hidden").val(id);
	  $("#ssss").text($("#active_tab_hidden").val());	      

	  reset_forms();
	});
	
	//show_results = function(data) {
	//	$("#id_q").autocomplete({
	//	  source: data.results
	//	});
	// };
	//
	// $("#id_q").keyup(function(){
	//  query=$(this).val();
	//  minimum_length=2
	//  if(query.length >= minimum_length) {
	//	  myurl='/search/autocomplete/';
	//	  $.ajax({
	//	  url: myurl
	//	  , data: {
	//	  'q': query
	//	  }, success: function(data) {
	//		  show_results(data)
	//		}})
	//	}
	//});
	//
	

	 $("#id_q").keyup(function(){
		query=$(this).val();
		field=$("#id_q")
		dbs='all';
		href=true;
		find_autocomplete(field,query,dbs,href)
	});
	$("#input_species").keyup(function(){
		query=$(this).val();
		field=$("#input_species")
		dbs='taxid';
		href=true;		
		find_autocomplete(field,query,dbs,href)
	});
	$("#input_function_sp").keyup(function(){
		query=$(this).val();
		field=$("#input_function_sp")
		dbs='taxid';
		href=false;
		find_autocomplete(field,query,dbs,href)
	});
	$("#input_function").keyup(function(){
		query=$(this).val();
		field=$("#input_function")
		dbs='term';
		href=false;		
		find_autocomplete(field,query,dbs,href)
	});


	
	

     });
      
	show_results = function(data,field,href) {
		field.autocomplete({
		  source: data.results,
		  select: function( event, ui ) {
				if (href) {
					field.val(ui.item.label);
					var url = ui.item.url;
					event.preventDefault();
					window.location.href = url;		  
				}
		  }

		});
	 };
	 
	 find_autocomplete=function(field,query,dbs,href){
		minimum_length=2
		if(query.length >= minimum_length) {
		  myurl='/search/autocomplete/';
		  $.ajax({
		  url: myurl
		  , data: {
		  'q': query, 'dbs':dbs
		  }, success: function(data) {
			  show_results(data,field,href)
			}})
		}
	}
      
      $('input:radio[name="sifter_choices"]').change(
	  function(){      
	      // checks that the clicked radio button is the one of value 'Yes'
	      // the value of the element is the one that's checked (as noted by @shef in comments)
	      if ($(this).val() == 'ALL-Model') {
		$('.hideable-options2').show();
	       }
	      else {
		$('.hideable-options2').hide();
		set_default_weight();
	       }
	  });
      
      $('input:radio[name="estim_choices"]').change(
	  function(){      
	      // checks that the clicked radio button is the one of value 'Yes'
	      // the value of the element is the one that's checked (as noted by @shef in comments)
	  	    if ($(this).val() == 'pfam') {
			$('#id_pfam').prop('disabled', false);
			$('#id_numTerms').val('');
			$('#id_famSize').val('');
			$('#id_numTerms').prop('disabled', true);
			$('#id_famSize').prop('disabled', true);
			
	       }
	      else {
			$('#id_pfam').prop('disabled', true);
			$('#id_pfam').val('');
			$('#id_numTerms').prop('disabled', false);
			$('#id_famSize').prop('disabled', false);
	       }
	  });
      
      
      var set_default_weight= function() {
	      $("#wSlider2").slider({value:70});
	      $("#ExpWeight").text(0.7);
              $("#NExpWeight").text(0.3);
	      $("#ExpWeight_hidden").val($("#ExpWeight").text().substr());	      	      	
      }


      var set_default= function() {
	      set_default_weight();
	      $('input:radio[name=sifter_choices]')[0].checked = true;	      
              $("#more_options_hidden").val('False');
	      $('#toggleOptions').text("Show advanced options");
	      if ($("#active_tab_hidden").val()=="by_any"){
		$('.hideable-options0').hide();
		$('.hideable-options02').show();		
		}else{
		$('.hideable-options0').show();
		$('.hideable-options02').hide();		
		}
		$('.hideable-options-f0').show();
		$('.hideable-options-sf0').show();
		$('.hideable-options-f1').hide();
		$('.hideable-options-sf1').hide();
		$('.hideable-options-s0').show();
		$('.hideable-options-s1').hide();
		$('.hideable-options-s1').hide();
		$('.hideable-options-esp').hide();
		$("#function_selected_hidden").val('');		
		$("#spf_selected_hidden").val('');		
		$("#sp_selected_hidden").val('');		
		$("#error_sp_hidden").val('');		
		
      }

	  var reset_home_search=function(){
		$('#home_search_form')[0].reset();
	  
	  }
      var reset_forms= function() {
	      $('#main_form')[0].reset();	      
		  reset_home_search();
	      
			
	      $('textarea').each(function(){ $(this).text(''); $(this).trigger('clearErrors'); $(this).trigger('keydown'); } )
	      $('#main_form .alert-danger').hide()
	      $('#main_form .has-error').attr('disabled', 'disabled');
	      $('.hideable-options').hide();
	      $('.hideable-options2').hide();
	      set_default()	      
      }
      
      var fix_weight= function(wExp) {
	  $("#ExpWeight").text(wExp);
	  if (Math.abs(parseFloat(1-wExp).toFixed(1)-parseFloat(1-wExp).toFixed(2))<1e-3)
	    $("#NExpWeight").text(parseFloat(1-wExp).toFixed(1));
	  else
	    $("#NExpWeight").text(parseFloat(1-wExp).toFixed(2));
	  $("#ExpWeight_hidden").val($("#ExpWeight").text().substr());	      	      	
      }

	  
      

      $('#goto_by_sequence').click(function(){
		activaTab("by_sequence");
	});
      function activaTab(tab){
	  	  
        $('#mytab a[href="#' + tab + '"]').tab('show');
		$("#active_tab_hidden").val(tab);		
		reset_forms();
	
      };
	
	var displayHist = $("#displayHist")[0].innerHTML;
	var numTerms = $("#numTerms")[0].innerHTML;
	var response = $("#response")[0];
	
	if (displayHist === "True") {
	    var i;
	    for (i = 1; i <= numTerms; i++) {
		var container = document.createElement("div");
		container.id = "hist_container" + i;
		container.class = "col-md-4";
		$("#chart_place").append(container);
		$("#hist_container".concat(i)).hide(0);
	    }
	}
	
	var i = 1;
	$(".estim_highlightable").mouseenter(
	    function() {
		$(".estim_highlightable").css("background-color", "transparent");
		$(this).css("backgroundColor", "yellow");
	
		$("#hist_container".concat(i)).hide(0);
		i = parseInt($(this)[0].cells[0].innerHTML);
		$("#hist_container".concat(i)).show(0);
	    }
	);   

	
    </script>
    
  </body>
  
</html>




