<div class="query-info" style="border-bottom-width: 0px">
<h2>Search SIFTER</h2>
<h4>Find SIFTER predictions for your proteins, species, or functions.</h4>
<div class="alert alert-danger {%if not search_form.q.errors %} hidden {% endif %}">{{ search_form.q.errors }}</div>
<div class="form-group {%if form.input_any.errors %} has-error {% endif %}" >
  Enter any UniProt ID or accession, GO term ID, function name, species name, or taxonomy ID.
      <div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
	    <div class="text-right">	    
		<a id="example1" class="sample" href="javascript:setExample(1)">Example 1</a>
		<a id="example2" class="sample" href="javascript:setExample(2)">Example 2</a>
		<a id="example3" class="sample" href="javascript:setExample(3)">Example 3</a>
		<a id="example4" class="sample" href="javascript:setExample(4)">Example 4</a>
	    </div>
	</div>
      </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
	  {{search_form.q}}
    </div>
  </div>
</div>	    
</div>
