<div class="form-group">
  <fieldset >
    
  <h2>Enter query functions </h2>
  <div>Paste or upload the GO term ID(s) of your query function(s)</div>
  <div class="row">
    <div class="col-md-11">
      <div class="text-right">
      <a id="example4" class="sample" href="javascript:setExample(4)">Example 1</a>
      <a id="example5" class="sample" href="javascript:setExample(5)">Example 2</a>
      </div>
      <textarea id="input_function" class="form-control" rows="3" placeholder="Enter query functions"></textarea>
      <div class="row">
        <div class="col-md-9">
        - OR - <label for="function_uploader">Upload the list of functions as a text file:</label>
        </div>
        <div class="col-md-3">
          <div class="text-right"><a id="clear_text_function" href="javascript:void(0)" title="clear_text_function">Clear</a></div>
        </div>
      </div>
      <input type="file" id="function_uploader">
    </div>
  </div>
  <h2>Enter list of species IDs</h2>
  <div>Paste or upload the NCBI Taxonomy ID(s) of species to look in for above functions</div>
  <div class="row">
    <div class="col-md-11">
      <div class="text-right">
      <a id="example6" class="sample" href="javascript:setExample(6)">Example</a>
      </div>
      <textarea id="input_function_sp" class="form-control" rows="2" placeholder="Enter list of species to look in"></textarea>
      <div class="row">
        <div class="col-md-9">
        - OR - <label for="function_sp_uploader">Upload the list of species as a text file:</label>
        </div>
        <div class="col-md-3">
          <div class="text-right"><a id="clear_text_function_sp" href="javascript:void(0)" title="clear_text_function_sp">Clear</a></div>
        </div>
      </div>
      <input type="file" id="function_sp_uploader">
    </div>    
  </div>
</fieldset>
</div>	    
