<div class="query-info">
<h2>Predict by <b>Protein</b> ID</h2>
<h4>Find SIFTER predictions for your query proteins.</h4>
</div>
            
<div class="alert alert-danger {%if not form.input_queries.errors %} hidden {% endif %}">{{ form.input_queries.errors }}</div>
<div class="form-group {%if form.input_queries.errors %} has-error {% endif %}" >
  <fieldset >
  <h3>Enter query proteins </h3>
  <div>Paste the UniProt IDs or accession numbers for your query proteins.</div>
  <div class="row">
    <div class="col-md-10 col-sm-9 col-xs-9">
      <div class="text-right">
      <a id="example5" class="sample" href="javascript:setExample(5)">Example 1</a>
      <a id="example6" class="sample" href="javascript:setExample(6)">Example 2</a>
      </div>
    </div>
  </div>	  
  <div class="row">
    <div class="col-md-10 col-sm-9 col-xs-9">
      {{form.input_queries}}      
      <div class="row">
	<div class="col-md-9 col-sm-9 col-xs-9">
<!--	- OR - <label for="query_uploader">Upload the list of your proteins as a text file:</label>-->
	</div> 
	<div class="col-md-3 col-sm-3 col-xs-3">
	  <div class="text-right"><a id="clear_text" href="javascript:void(0)" title="clear_text">Clear</a></div>
	</div>
      </div>
      <!--{{form.query_uploader}}-->
    </div>
    <div class="col-md-2 col-sm-3 col-xs-3">
      <div class="text-left">	
	<small>Separate IDs with a space, comma, or semicolon, or enter one ID per line.</small>
      </div>
    </div>    
  </div>
</fieldset>
</div>	    
