<div class="alert alert-danger {%if not form.input_queries.errors %} hidden {% endif %}">{{ form.input_queries.errors }}</div>
<div class="form-group {%if form.input_queries.errors %} has-error {% endif %}" >
  <fieldset >
  <h3>Enter query proteins </h3>
  <div>Paste or upload the Uniprot ID(s) of your query protein(s)</div>
  <div class="row">
    <div class="col-md-11">
      <div class="text-right">
      <a id="example1" class="sample" href="javascript:setExample(1)">Example 1</a>
      <a id="example2" class="sample" href="javascript:setExample(2)">Example 2</a>
      </div>
      {{form.input_queries}}
      <div class="row">
	<div class="col-md-9">
	- OR - <label for="query_uploader">Upload the list of your proteins as a text file:</label>
	</div>
	<div class="col-md-3">
	  <div class="text-right"><a id="clear_text" href="javascript:void(0)" title="clear_text">Clear</a></div>
	</div>
      </div>
      {{form.query_uploader}}
    </div>
  </div>
</fieldset>
</div>	    
