 <div class="alert alert-danger {%if not form.input_species.errors %} hidden {% endif %}">{{ form.input_species.errors }}</div>

<div class="form-group {%if form.input_species.errors %} has-error {% endif %}" >
  <fieldset >
    
  <h3>Enter species</h3>
  <div>Paste the NCBI Taxonomy ID of your query species</div>
  <div class="row">
    <div class="col-md-10">
       <div class="text-right"><a id="example3" class="sample" href="javascript:setExample(3)">Example</a></div>      
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      {{form.input_species}}
      <div class="text-right"><a id="clear_text_species" href="javascript:void(0)" title="clear_text_species">Clear</a></div>
    </div>
    <div class="col-md-2">
      <div class="text-left">	
        <small>separate IDs by a space or comma</small>
      </div>
    </div>                   
  </div>
</fieldset>
</div>	    
