{{form.sp_selected_hidden}}
<div class="query-info">
<h2>Predict for All Proteins of a <b>Species</b></h2>
<h4>Find SIFTER predictions for proteins in your query species.</h4>
</div>
<div  class="hideable-options-esp" {%if not form.error_sp_hidden.value  %} style="display: none" {% endif %}>                    
<div class="alert alert-danger">No results were found for your query species.</div>
</div>
<div  class="hideable-options-s0" {%if not form.sp_selected_hidden.value  %} style="display: none" {% endif %}>                    
	<div class="alert alert-danger {%if not form.input_species.errors %} hidden {% endif %}">{{ form.input_species.errors }}</div>
	<div class="form-group {%if form.input_species.errors %} has-error {% endif %}" >
	  <fieldset >
		
	  <h3>Enter species</h3>
	  <div>Paste the name or NCBI taxonomy ID of your query species</div>
	  <div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
		  <div class="text-right">
		  <a id="example7" class="sample" href="javascript:setExample(7)">Example 1</a>
		  <a id="example8" class="sample" href="javascript:setExample(8)">Example 2</a>
		  </div>
		</div>
	  </div>	  
	  <div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
		  {{form.input_species}}
		  <div class="text-right"><a id="clear_text_species" href="javascript:void(0)" title="clear_text_species">Clear</a></div>
		</div>
	  </div>
	</fieldset>
	</div>	    
</div>
<div  class="hideable-options-s1" {%if form.sp_selected_hidden.value  %} style="display: none" {% endif %}>                    
	<div class="alert alert-info" role="alert">
		<h4>You have selected the following species:</h4>
		<div><h3>{{sp_selected}}</h3> </div>
		<h4>Now, please complete and submit your query.</h4>
	</div>
</div>
