{% extends 'base.html' %}
{% load chartit %}

{% block get_input %}
{% if displayHist %}
   {{ histograms|load_charts:chartContainers }}
{% endif %}


<div class="container custom-container">
   <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">

      <div class="query-info">
      <h2>Estimated SIFTER processing time</h2>
      <h4>Find how long running SIFTER will take for your query family on a local machine.</h4>
      </div>
                  
        <h3>Enter your family information</h3>
        <div>You may enter your PFAM ID to propagate number of candidate functions and family size:</div>
        <form method="post" role="form" id="estim_form" enctype="multipart/form-data">
            <fieldset>
              {% csrf_token %}
              <div class="row">
                <div class="col-md-3">             
                  <h4>
                  <div class="radio"> {{form.estim_choices.0}}</div>
                  </h4>
                </div>
                <div class="col-md-9">             
                  <label for="numTerms">Number of candidate functions: </label>             
                  {{form.numTerms}}    
                  <label for="famSize">Family size: </label>             
                  {{form.famSize}}      
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">             
                  <h4>
                  <div class="radio"> {{form.estim_choices.1}}</div>
                  </h4>
                </div>
                <div class="col-md-9">             
                  <label for="pfam">Pfam ID: </label>             
                  {{form.pfam}}
                </div>
              </div>
            </fieldset>
			<button type="submit" class="btn btn-primary">Submit</button>
         </form>
       
        <div class="row">
          <div class="col-md-7">
            <p>{{ response }}</p>
            {% if tableBody %}
            <table class="table table-condensed text-center">
				<thead>			
                    <tr class="row_seperator">
					<th class="col-md-2 text-center" style="border-bottom-color:#bbb">Truncation</th>
					<th class="col-md-4 text-center" style="border-bottom-color:#bbb" colspan="2">Estimated time</th>
					<th class="col-md-3 text-center" style="border-bottom-color:#bbb" >95% Confidence</th>
					<th class="col-md-3 text-center" style="border-bottom-color:#bbb" >99.9% Confidence</th>					
					</tr>
                    <tr class="row_seperator">
					<th class="col-md-2 text-center">factor</th>
					<th class="col-md-2 text-center">(hours)</th>
					<th class="col-md-2 text-center" ></th>
					<th class="col-md-3 text-center">upper bound</th>
					<th class="col-md-3 text-center">upper bound</th>					
					</tr>
				</thead>					
				<tbody>
                    {% for row in tableBody %}
                            <tr class="estim_highlightable">
                            {% for cell in row %}
                                    <td>{{ cell }}</td>
                            {% endfor %}
                            </tr>
                    {% endfor %}
				</tbody>
            </table>
			{% endif %}
          </div>
          <div class="col-md-5">
            <p id="displayHist" class="hidden">{{ displayHist }}</p>
            <p id="numTerms" class="hidden">{{ numTerms }}</p>
            <div id="chart_place"></div>
          </div>          
        </div>
      </div>	    


    </div>
  </div>
</div>
{{ form.active_choice_hidden }}

<p id="ssss2">0.3</p>


{% endblock %}
