{% extends 'base.html' %}

{% load results_tags %}

{% block get_input %}
 


<div class="container custom-container">
   <!-- Example row of columns -->
{{domain_res}}
  <div class="query-info" style="border-bottom-width: 0px">
	<h2><a href="http://www.uniprot.org/uniprot/{{uniprot_acc}}">{{protein}}</a></h2>
	<h4>SIFTER Predictions for the individual domains</h4>
  </div>
  {% if domian_result %}     	  
	<div class="col-md-12 col-sm-12 col-xs-12 text-center">
	<img src="/media/colorbar.svg" style="width:600px">
	</div>
	  	  
	  {%for domain_res in domian_result %}
		<div class="query-info">
			<div class="row">
			 <div class="col-lg-2 col-md-3 col-sm-4  col-xs-12 ">
			  <h3>Position: {{domain_res.0}}</h3>
			 </div>
			 <div class="col-lg-10 col-md-9 col-sm-8  col-xs-12 ">
			  <h3><a href="http://pfam.xfam.org/{{domain_res.1.2}}">Family: {{domain_res.1.1}} ({{domain_res.1.0}})</a></h3> 
			 </div>
			</div>
		</div>
				
		<table class="table">
		<thead>
		  <tr>
			<th></th>
			<th></th>
			<th><a href="/help/#confidenceScore">Confidence Score</a></th>
		  </tr>
		</thead>         
		<tbody >
		  {% for hits in domain_res.1.3 %}
			  <tr class="row_seperator">
				  <td colspan="2">Prediction using {{hits.1}} Evidence {% if hits.0 %}(using sub-tree){%endif%}</td>
				  <td></td>
			  </tr>
			  {% for row in hits.2 %}              
				  <tr style="background-color:rgba{{row.2|get_color_rgba}}; color:rgba{{row.2|get_color_rgb2}};">
					  <td colspan="2"><a style="color:rgba{{row.2|get_color_rgb2}};" href="http://amigo.geneontology.org/amigo/term/{{row.0}}">{{row.0}}</a>
					  &nbsp&nbsp&nbsp <a style="color:rgba{{row.2|get_color_rgb2}};" href="http://amigo.geneontology.org/amigo/term/{{row.0}}">{{row.1}}</a></td>                
					  <td >{{row.2}}</td>
				  </tr>                
			  {%endfor%}
			  <tr>
				<td></td>
				<td></td>
				<td></td>                                        
			  </tr>
		  {%endfor%}                  
		</tbody>
		</table>            
	  {%endfor%}	  
  {%else%}
	  <h3> No results were found for your query.</h3>
  {%endif%}
</div>
{% endblock %}