{% extends 'base.html' %}

{% block get_input %}
<div class="container custom-container">
<div class="query-info helppage">
<h3>Run SIFTER on your local machine:</h3>
<h5>You can download SIFTER code <a href='/media/sifter_new_implementation.tar.gz'>here</a>.<h5>
<h3>How long running SIFTER will take in a local machine:</h3>
<h5>Learn how long you may expect SIFTER to run on a local machine for you specific input <a href='{% url "complexity" %}'>here</a>.</h5>
<h3>Pre-computed SIFTER predictions:</h3>
<h5>Data and scripts for querying the precomputed predictions are available <a href='/media/sifter_webserver_precomputed_code_data_01232014.tar.gz'>here</a> [22 GB].<h5>
</div>
</div>
{%endblock%}