{% extends 'base.html' %}

{% block get_input %}
<div class="container custom-container">
<div class="query-info helppage">
<h3>Run SIFTER on your local machine:</h3>
<h5>You can download SIFTER code v2.1<a href='/media/sifter2.1.tar.gz'>here</a>. (Older version 2.0 is also available <a href='/media/sifter2.0.tar.gz'>here</a>.)<h5>
&nbsp
&nbsp

<a href='{% url "complexity" %}'><h3>Complexity Estimation (How long running SIFTER will take in a local machine):</h3></a>
<h5>Learn how long you may expect SIFTER to run on a local machine for you specific input <a href='{% url "complexity" %}'>here</a>.</h5>
&nbsp
&nbsp

<h3>Pre-computed SIFTER predictions:</h3>
<h5>Data and scripts for querying the precomputed predictions are available <a href='/media/sifter_webserver_precomputed_code_and_data_01232015.tar.gz'>here</a> [22 GB].<h5>
&nbsp
&nbsp

</div>
</div>
{%endblock%}