<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href='{% url "home" %}'>SIFTER Function Prediction</a>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav ">
        <li class="active"><a href='{% url "home" %}'>Home</a></li>
        <li ><a href="#about">About</a></li>
        <li><a href="#download">Download SIFTER Code</a></li>
        <li><a href='{% url "complexity" %}'>Complexity</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#help">Help</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
