<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Estimated SIFTER processing time</title>
	<style>
		body {
			font-size: 24px;
		}

		button {
			font-size: 18px;
		}

		input {
			font-size: 20px;
		}

		table, td, th {
			text-align: center;
			border: 1px solid black;
			border-collapse: collapse;
			padding: 5px;
		}
        
        .hidden {
            display: none;
        }
	</style>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/highcharts.js"></script>
    {% load chartit %}
    {% if displayHist %}
        {{ histograms|load_charts:chartContainers }}
    {% endif %}
</head>
<body>

<h3 id="title">Estimated SIFTER processing time</h3>

<form method="post">
	{% csrf_token %}
	{{ form }}
	<input type="submit" value="Submit" />
</form>

<p>{{ response }}</p>

<table>
	<tr>
	{% for cell in tableHeader %}
		<th>{{ cell }}</th>
	{% endfor %}
	</tr>
	{% for row in tableBody %}
		<tr class="highlightable">
		{% for cell in row %}
			<td>{{ cell }}</td>
		{% endfor %}
		</tr>
	{% endfor %}
</table>

<p id="displayHist" class="hidden">{{ displayHist }}</p>
<p id="numTerms" class="hidden">{{ numTerms }}</p>

<script>
    var displayHist = $("#displayHist")[0].innerHTML;
    var numTerms = $("#numTerms")[0].innerHTML;
    var response = $("#response")[0];

    if (displayHist === "True") {
        var i;
        for (i = 1; i <= numTerms; i++) {
            var container = document.createElement("div");
            container.id = "container" + i;
            container.class = "container";
            container.style.width = "800px";
            container.style.height = "600px";
            $("body")[0].appendChild(container);
            $("#container".concat(i)).hide(0);
        }
    }

    var i = 1;
    $(".highlightable").mouseenter(
        function() {
            $(".highlightable").css("background-color", "transparent");
            $(this).css("backgroundColor", "yellow");

            $("#container".concat(i)).hide(0);
            i = parseInt($(this)[0].cells[0].innerHTML);
            $("#container".concat(i)).show(0);
        }
    );   
</script>

</body>
</html>